---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NAKA.STUDIO | 404 Page Not Found">
  <main class="shadow shadow-skinShadow/40 max-w-475 w-full flex flex-1 flex-col bg-skin-base my-0 mx-auto">
    <section class="content h-full sm:p-6 p-3 max-w-475 text-center">
      <h1 class="text-4xl mb-4">404</h1>
      <h2 class="text-3xl mb-4">Sorry, I can't find a page that matches this URL.</h2>
      <h3 class="text-2xl">Please check the top logo to return home.</h3>
    </section>
  </main>
</Layout>
