---
import { Image } from "@astrojs/image/components";
import Emoji from "../components/Emoji.astro";
import Layout from "../layouts/Layout.astro";

import hey from "../images/about-me/hey.png";
import portrait1 from "../images/about-me/portrait.webp";
import portrait2 from "../images/about-me/portrait3.webp";
import sig from "../images/about-me/sig.png";
---

<Layout title="NAKA.STUDIO | About Me">
  <main class="shadow shadow-skinShadow/40 max-w-475 flex flex-1 flex-col bg-skin-base">
    <section class="content h-full py-8 px-6 text-lg">
      <a href="/" rel="author prefetch" class="text-3xl p-2 border border-transparent hover:border hover:border-slate-600 transition-all rounded-sm mb-4 relative bottom-3">←</a>

      <span class="flex gap-4 text-4xl items-center mb-4"><Image src={hey} alt="Image of a handwritten greeting." class="w-1/2" /><Emoji symbol="👋" label="wave" /></span>

      <p class="mb-7">
        Welcome to my new website! My name is Alisha Nakamura and I am a hairstylist, hair educator, and mentor of over 6 years, most of which spent at an upscale salon in downtown Seattle, WA where I have worked for the past 6 years.
      </p>

      <Image src={portrait1} alt="Portrait of Alisha Nakamura" class="shadow shadow-skinShadow/40 rounded inline-block w-1/2 sm:w-56 float-right h-72 ml-6 my-4 object-cover" />

      <p class="mb-7">In addition to providing a wide range of hair styling services to my clients, I have also had the opportunity to train and mentor apprentices in the industry.</p>

      <p class="mb-7">
        I am passionate about being a hairstylist because I truly love making people happy. There is something special about taking care of our physical appearance that helps us feel respected and dignified, and I am dedicated to helping my clients
        achieve the look they desire.
      </p>

      <p class="mb-7">
        Growing up in Japan, where salons are a common sight on every block, had a significant impact on my approach to styling. The Japanese place a strong emphasis on being well-groomed and presentable at all times, and this focus on perfection has
        definitely rubbed off on me as a stylist. I am not satisfied until my pursuit of technical precision leads to my clients' happiness and satisfaction.
      </p>

      <Image src={portrait2} alt="Portrait of Alisha Nakamura" class="shadow shadow-skinShadow/40 rounded inline-block w-1/2 sm:w-56 float-left h-72 mr-6 my-2 object-cover" />

      <p class="mb-7">
        As a hair educator and mentor, I am committed to sharing my knowledge and experience with the next generation of stylists. I believe that it is important to give back to the industry and help those who are just starting out on their own
        journey as hairstylists.
      </p>

      <p class="mb-7">
        I have a wide range of skills and experience in the beauty industry, and I am confident in my ability to provide exceptional service to every client. Thank you for considering me as your stylist, and I look forward to the opportunity to work
        with you and help you feel your best!
      </p>

      <Image src={sig} alt="Image of a handwritten signature" class="w-3/4" />

      <a href="/" rel="prefetch" class="text-3xl p-2 border border-transparent hover:border hover:border-slate-600 transition-all rounded-sm mb-4 relative top-3">←</a>
    </section>
  </main>
</Layout>

<style>
  main {
    @apply my-0 mx-auto;
    max-width: 475px;
  }

  h1 {
    @apply text-2xl;
    font-weight: 800;
    margin: 0;
  }
</style>
