---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
import test from "../images/test.png";
import Block, { BlockData } from "../components/Block";
import portrait from '../images/portrait.jpg'
const bookingBlockData: BlockData = { 
						imagePos: "left",
						imageUrl: portrait.src, 
						title: "Book With Alisha", 
						bodyText: "Ready for a fresh new look? Book your appointment with me now and let's bring your hair vision to life. Click here to view my availability and schedule your service today.", 
						linkUrl: '',
						linkText: "Schedule Now!" 
					};

const affiliateBlockData: BlockData = { 
						imagePos: "right",
						imageUrl: portrait.src, 
						title: "Book Now", 
						bodyText: "Upgrade your hair care routine with Davines, the premium Italian hair product line. Click here to purchase through our affiliate link and experience the difference for yourself.", 
						linkUrl: '',
						linkText: "Book Now!" 
					};
---

<Layout title="NAKA.STUDIO">
  <main class="shadow-xl">
    <div class="hero h-72 bg-hero bg-cover bg-center"></div>
    <div class="info-container">
      <section class="info flex border-b border-stone-300 bg-brandGreen p-6">
        <div class="name flex flex-col">
          <div>Naka Studio</div>
          <div class="opacity-80">@alishanakamura_hair</div>
        </div>
        <div class="social-wrapper">
          <div class="social tiktok"></div>
          <div class="social mail"></div>
          <div class="social instagram"></div>
        </div>
      </section>
    </div>
    <section class="content h-full pt-4 px-6">
      <Block blockData={bookingBlockData} />
      <Block blockData={affiliateBlockData} />
      <section class="waitlistr"></section>
    </section>
  </main>
  <footer class="bottom-0 width-screen absolute text-center">Created by</footer>
</Layout>

<style>
  main {
    @apply overflow-hidden  my-0 mx-auto;
    width: 100vmin;
    max-width: 475px;
    height: 100%;
  }
  .content {
    background: linear-gradient(rgb(187 247 208), rgb(220 252 231));
  }
  h1 {
    @apply text-5xl;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
