---
import ContentBlocks from "../components/ContentBlocks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="NAKA.STUDIO | Home">
  <main class="shadow shadow-skinShadow/40 max-w-475 w-full flex flex-1 flex-col bg-skin-base my-0 mx-auto">
    <section class="content h-full sm:p-6 p-3 max-w-475">
      <ContentBlocks />
    </section>
  </main>
</Layout>
