---
import Layout from "../layouts/Layout.astro";
import ContentBlocks from "../components/ContentBlocks.astro";
---

<Layout title="NAKA.STUDIO">
  <main class="shadow shadow-skinShadow/40 max-w-475 w-full flex flex-1 flex-col bg-skin-base my-0 mx-auto">
    <section class="content h-full pt-8 px-6 max-w-475">
      <ContentBlocks />
    </section>
  </main>
</Layout>
