---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/TopBar";
import ContentBlocks from "../components/ContentBlocks";
import Hero from "../components/Hero";
import Footer from "../components/Footer";
import { Umami } from 'astro-analytics';

const UMAMI_ID = import.meta.env.PUBLIC_UMAMI;
console.log(UMAMI_ID)
---

<Layout title="NAKA.STUDIO">
  <main class="shadow min-w-475 flex flex-1 flex-col bg-brandFloralWhite">
    <Hero />
    <TopBar />
    <section class="content h-full pt-8 px-6">
      <ContentBlocks />
    </section>
  </main>
  <Footer />
  <Umami dataId={UMAMI_ID} site="www.nakastudio.com" host="/umami.js" />
</Layout>

<style>
  main {
    @apply my-0 mx-auto;
    max-width: 475px;
  }
  .content {
  }
  h1 {
    @apply text-2xl;
    font-weight: 800;
    margin: 0;
  }
  Footer {
    width: 100%;
    max-width: 475px;
  }
</style>
