---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/TopBar.astro";
import ContentBlocks from "../components/ContentBlocks.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="NAKA.STUDIO">
  <main class="shadow shadow-skinShadow/40 min-w-475 flex flex-1 flex-col bg-brandFloralWhite">
    <Hero />
    <TopBar />
    <section class="content h-full pt-8 px-6">
      <ContentBlocks />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply my-0 mx-auto;
    max-width: 475px;
  }

  h1 {
    @apply text-2xl;
    font-weight: 800;
    margin: 0;
  }
</style>
