---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NAKA.STUDIO | Policies">
  <main class="shadow shadow-skinShadow/40 max-w-475 w-full flex flex-1 flex-col bg-skin-base my-0 mx-auto">
    <section class="content h-full p-6 max-w-475">
      <h1 class="underline text-3xl text-center mb-8">Policies</h1>
      <h2 class="text-2xl mb-8 text-center border border-slate-700 shadow-sm shadow-skinShadow">Cancellation</h2>
      <div class="flex flex-col gap-4 mb-4">
        <p>- Cancellations/rescheduling must be done 24 hours in advance. Unfortunately, anything under will pay 50% of the service.</p>
        <p>- No-shows will be charged the full balance of the service booked.</p>
        <p>- Clients arriving 15+ minutes late to their appointment may be subject to cancellation and day of no-show charge of 100%.</p>
      </div>
      <p class="italic mb-4 text-center">* We understand that life happens and will be taken into consideration when applying these policies. Naka Studio is a small business and we appreciate your communication and understanding.</p>
      <h2 class="text-2xl mb-8 text-center border border-slate-700 shadow-sm shadow-skinShadow">Conditions</h2>
      <div class="flex flex-col gap-4">
        <p class="font-bold italic text-2xl">Naka Studio...</p>
        <p>- is committed to inclusivity and creating a welcoming environment for all customers</p>
        <p>- expects all customers to treat our staff and other customers with respect and courtesy</p>
        <p>- reserves the right to refuse service in cases of disruptive, disrespectful or discriminatory behavior</p>
        <p>- asks that everyone visiting our establishment show respect, kindness, and understanding towards others</p>
      </div>
    </section>
  </main>
</Layout>
