---
import { Image } from '@astrojs/image/components';
import swansong from "../images/icons/swansong-thick-24.png";
---

<footer class="min-w-475 m-auto">
  <a href="https://wwww.swansondigitalarts.com" target="_blank" rel="noreferrer" class="italic m-auto font-skinMono text-xs block text-center">
    <span class="bg-skin-base inline-block">mighty microsite by swansondigitalarts</span>
    <Image src={swansong} alt="swanson digital arts logo" class=" bg-skin-base inline-block"/>
  </a>
</footer>
