---
import { Image } from "@astrojs/image/components";
import swansong from "../images/icons/swansong-thick-24.webp";
---

<footer class="max-w-475 m-auto my-4">
  <a href="https://wwww.seancswanson.com" target="_blank" rel="noreferrer" class="border shadow rounded p-2 italic m-auto font-skinMono text-xs block text-center bg-skin-base">
    <span class="bg-skin-base inline-block">mighty microsite by swansondigitalarts</span>
    <Image src={swansong} alt="swanson digital arts logo" class="inline-block" />
  </a>
</footer>
