---
import { Image } from '@astrojs/image/components';
import swansong from "../images/icons/swansong-thick-24.png";
---

<footer class="min-w-475 m-auto">
  <a href="https://wwww.swansondigitalarts.com" target="_blank" rel="noreferrer" class="italic flex items-center justify-center gap-4 p-2 text-center font-skinMono text-xs">
    <span>mighty microsite by swansondigitalarts</span>
    <Image src={swansong} alt="swanson digital arts logo" />
  </a>
</footer>
