---
import { Image } from "@astrojs/image/components";
import hero from "../images/shared/naka-salon-hero.webp";
---

<div class="hero max-w-475 w-full min-h-80 bg-hero bg-cover bg-center">
  <a href="/" class="w-full h-full">
    <Image src={hero} alt="Naka Studio Logo" />
  </a>
</div>
