---
import {Image} from '@astrojs/image/components';
import hero from '../images/shared/naka-salon-placeholder-optimized.png';
---

<div class="hero h-80 bg-hero bg-cover bg-center">
        <Image src={hero} alt="Naka Studio Logo" class="w-full h-full object-cover object-center"/>
</div>
