---
import tiktok from "../images/icons/tiktok-48.webp";
import linkedin from "../images/icons/linkedin-48.webp";
import email from "../images/icons/email-48.webp";
import instagram from "../images/icons/instagram-48.webp";

const socialAccounts = [
  {
    url: "https://www.tiktok.com/@alishanakamura.hair",
    class: "tiktok",
    iconUrl: "../src/images/icons/tiktok-48.png",
    iconSrc: tiktok.src,
  },
  {
    url: "https://www.instagram.com/alishanakamura.hair",
    class: "instagram",
    iconUrl: "../src/images/icons/instagram-48.png",
    iconSrc: instagram.src,
  },
  {
    url: "https://www.linkedin.com/in/alisha-nakamura-60532125b/",
    class: "linkedin",
    iconUrl: "../src/images/icons/linkedin-48.png",
    iconSrc: linkedin.src,
  },
  {
    url: "mailto:alishanakamura+www@proton.me",
    class: "email",
    iconUrl: "../src/images/icons/email-48.png",
    iconSrc: email.src,
  },
];
---

<div class="social-container social-icon-wrapper items-center flex flex-col">
  <div class="social-icon-wrapper flex justify-self-center justify-around">
    {
      socialAccounts.map((item) => {
        const socialIconStyle = {
          backgroundImage: `url(${item.iconSrc})`,
          backgroundPosition: "center",
          backgroundSize: "contain",
          backgroundRepeat: "no-repeat",
          width: "20px",
          height: "20px",
        };
        return (
          <a href={item.url} target="_blank" rel={`${item.class === 'email' ? 'noreferrer' : ''}`} class="p-2 rounded border border-transparent hover:border hover:border-slate-600 transition-all">
            <div style={socialIconStyle} />
          </a>
        );
      })
    }
  </div>
  <div class="ig-handle opacity-90">@alishanakamura.hair</div>
</div>
