---
import NameSection from "./NameSection.astro";
import SocialSection from "./SocialSection.astro";
---

<div class="info-container">
  <section class="info flex justify-around border-b border-stone-300 p-6">
    <NameSection />
    <SocialSection />
  </section>
</div>
