---
import "@fontsource/lora";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Space+Mono:ital@1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <script async defer src="https://analytics.umami.is/script.js" data-website-id="598535a6-3e29-424c-a3fc-75d0f0e744ca"></script>
    <title>{title}</title>
  </head>
  <body class="flex flex-col bg-blend-overlay justify-between items-center bg-skin-accent h-screen font-skinDisplay">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --font-family-skin-display: 'Lora';
    --color-bg-base: #fffaf0;
    --color-bg-accent: #F4F0E6;                 
	  --color-shadow: 135 103 123;
  }

  body {
    background-image: url('../images/cactus-2.png');
    background-size: 160px;
  }
</style>
